CarritoCompras.Process/Service References/DPS/DetallePedidoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3316/DetallePedidoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CarritoCompras.Entidad" />
  <xs:element name="BuscarDetallePedido">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarDetallePedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CarritoCompras.Entidad" minOccurs="0" name="BuscarDetallePedidoResult" nillable="true" type="q1:ArrayOfDetallePedidoEntidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>