CarritoCompras.Process/Service References/US/UsuarioService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CarritoCompras.Entidad" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CarritoCompras.Entidad" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UsuarioEntidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cod_Usuario" type="xs:int" />
      <xs:element minOccurs="0" name="Nom_Usuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pass_Usuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Perfil_Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsuarioEntidad" nillable="true" type="tns:UsuarioEntidad" />
</xs:schema>