CarritoCompras.Testing/Service References/CategoriaServiceReference/CategoriaProductoService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CarritoCompras.Entidad" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CarritoCompras.Entidad" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCategoriaEntidad">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CategoriaEntidad" nillable="true" type="tns:CategoriaEntidad" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategoriaEntidad" nillable="true" type="tns:ArrayOfCategoriaEntidad" />
  <xs:complexType name="CategoriaEntidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cod_Categoria" type="xs:int" />
      <xs:element minOccurs="0" name="Estado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Nom_Categoria" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoriaEntidad" nillable="true" type="tns:CategoriaEntidad" />
</xs:schema>