CarritoCompras.EntityService/Service References/MTS/MacroTransaccionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MacroTransaccionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3327/MacroTransaccionService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3327/MacroTransaccionService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3327/MacroTransaccionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CarritoCompras.Entidad" />
      <xsd:import schemaLocation="http://localhost:3327/MacroTransaccionService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CarritoCompras.Utilitario" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMacroTransaccionService_ReservarProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:ReservarProducto" />
  </wsdl:message>
  <wsdl:message name="IMacroTransaccionService_ReservarProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReservarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IMacroTransaccionService_RegistrarPedido_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarPedido" />
  </wsdl:message>
  <wsdl:message name="IMacroTransaccionService_RegistrarPedido_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarPedidoResponse" />
  </wsdl:message>
  <wsdl:message name="IMacroTransaccionService_ActualizarPedido_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarPedido" />
  </wsdl:message>
  <wsdl:message name="IMacroTransaccionService_ActualizarPedido_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarPedidoResponse" />
  </wsdl:message>
  <wsdl:message name="IMacroTransaccionService_RegistrarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarCliente" />
  </wsdl:message>
  <wsdl:message name="IMacroTransaccionService_RegistrarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IMacroTransaccionService_ActualizarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarCliente" />
  </wsdl:message>
  <wsdl:message name="IMacroTransaccionService_ActualizarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarClienteResponse" />
  </wsdl:message>
  <wsdl:portType name="IMacroTransaccionService">
    <wsdl:operation name="ReservarProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IMacroTransaccionService/ReservarProducto" message="tns:IMacroTransaccionService_ReservarProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMacroTransaccionService/ReservarProductoResponse" message="tns:IMacroTransaccionService_ReservarProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarPedido">
      <wsdl:input wsaw:Action="http://tempuri.org/IMacroTransaccionService/RegistrarPedido" message="tns:IMacroTransaccionService_RegistrarPedido_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMacroTransaccionService/RegistrarPedidoResponse" message="tns:IMacroTransaccionService_RegistrarPedido_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarPedido">
      <wsdl:input wsaw:Action="http://tempuri.org/IMacroTransaccionService/ActualizarPedido" message="tns:IMacroTransaccionService_ActualizarPedido_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMacroTransaccionService/ActualizarPedidoResponse" message="tns:IMacroTransaccionService_ActualizarPedido_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IMacroTransaccionService/RegistrarCliente" message="tns:IMacroTransaccionService_RegistrarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMacroTransaccionService/RegistrarClienteResponse" message="tns:IMacroTransaccionService_RegistrarCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IMacroTransaccionService/ActualizarCliente" message="tns:IMacroTransaccionService_ActualizarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMacroTransaccionService/ActualizarClienteResponse" message="tns:IMacroTransaccionService_ActualizarCliente_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMacroTransaccionService" type="tns:IMacroTransaccionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReservarProducto">
      <soap:operation soapAction="http://tempuri.org/IMacroTransaccionService/ReservarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarPedido">
      <soap:operation soapAction="http://tempuri.org/IMacroTransaccionService/RegistrarPedido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarPedido">
      <soap:operation soapAction="http://tempuri.org/IMacroTransaccionService/ActualizarPedido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarCliente">
      <soap:operation soapAction="http://tempuri.org/IMacroTransaccionService/RegistrarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarCliente">
      <soap:operation soapAction="http://tempuri.org/IMacroTransaccionService/ActualizarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MacroTransaccionService">
    <wsdl:port name="BasicHttpBinding_IMacroTransaccionService" binding="tns:BasicHttpBinding_IMacroTransaccionService">
      <soap:address location="http://localhost:3327/MacroTransaccionService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>