CarritoCompras.Process/Service References/PS/PedidoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PedidoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3316/PedidoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3316/PedidoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3316/PedidoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CarritoCompras.Entidad" />
      <xsd:import schemaLocation="http://localhost:3316/PedidoService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CarritoCompras.Utilitario" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPedidoService_GuardarPedido_InputMessage">
    <wsdl:part name="parameters" element="tns:GuardarPedido" />
  </wsdl:message>
  <wsdl:message name="IPedidoService_GuardarPedido_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarPedidoResponse" />
  </wsdl:message>
  <wsdl:message name="IPedidoService_ConsultarPedido_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPedido" />
  </wsdl:message>
  <wsdl:message name="IPedidoService_ConsultarPedido_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPedidoResponse" />
  </wsdl:message>
  <wsdl:message name="IPedidoService_ModificarPedido_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarPedido" />
  </wsdl:message>
  <wsdl:message name="IPedidoService_ModificarPedido_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarPedidoResponse" />
  </wsdl:message>
  <wsdl:portType name="IPedidoService">
    <wsdl:operation name="GuardarPedido">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedidoService/GuardarPedido" message="tns:IPedidoService_GuardarPedido_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedidoService/GuardarPedidoResponse" message="tns:IPedidoService_GuardarPedido_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPedido">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedidoService/ConsultarPedido" message="tns:IPedidoService_ConsultarPedido_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedidoService/ConsultarPedidoResponse" message="tns:IPedidoService_ConsultarPedido_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarPedido">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedidoService/ModificarPedido" message="tns:IPedidoService_ModificarPedido_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedidoService/ModificarPedidoResponse" message="tns:IPedidoService_ModificarPedido_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPedidoService" type="tns:IPedidoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GuardarPedido">
      <soap:operation soapAction="http://tempuri.org/IPedidoService/GuardarPedido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarPedido">
      <soap:operation soapAction="http://tempuri.org/IPedidoService/ConsultarPedido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarPedido">
      <soap:operation soapAction="http://tempuri.org/IPedidoService/ModificarPedido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PedidoService">
    <wsdl:port name="BasicHttpBinding_IPedidoService" binding="tns:BasicHttpBinding_IPedidoService">
      <soap:address location="http://localhost:3316/PedidoService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>