CarritoCompras.Process/Service References/MPS/MedioPagoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CarritoCompras.Entidad" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CarritoCompras.Entidad" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMedioPagoEntidad">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MedioPagoEntidad" nillable="true" type="tns:MedioPagoEntidad" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMedioPagoEntidad" nillable="true" type="tns:ArrayOfMedioPagoEntidad" />
  <xs:complexType name="MedioPagoEntidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cod_MedioPago" type="xs:int" />
      <xs:element minOccurs="0" name="Estado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Foto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nom_MedioPago" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MedioPagoEntidad" nillable="true" type="tns:MedioPagoEntidad" />
</xs:schema>