CarritoCompras.Testing/Service References/ProductoServiceReference/ProductoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3316/ProductoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3316/ProductoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3316/ProductoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CarritoCompras.Entidad" />
      <xsd:import schemaLocation="http://localhost:3316/ProductoService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CarritoCompras.Utilitario" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProductoService_BuscarProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarProducto" />
  </wsdl:message>
  <wsdl:message name="IProductoService_BuscarProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IProductoService_ReservarProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:ReservarProducto" />
  </wsdl:message>
  <wsdl:message name="IProductoService_ReservarProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReservarProductoResponse" />
  </wsdl:message>
  <wsdl:portType name="IProductoService">
    <wsdl:operation name="BuscarProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductoService/BuscarProducto" message="tns:IProductoService_BuscarProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductoService/BuscarProductoResponse" message="tns:IProductoService_BuscarProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReservarProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductoService/ReservarProducto" message="tns:IProductoService_ReservarProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductoService/ReservarProductoResponse" message="tns:IProductoService_ReservarProducto_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProductoService" type="tns:IProductoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BuscarProducto">
      <soap:operation soapAction="http://tempuri.org/IProductoService/BuscarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReservarProducto">
      <soap:operation soapAction="http://tempuri.org/IProductoService/ReservarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductoService">
    <wsdl:port name="BasicHttpBinding_IProductoService" binding="tns:BasicHttpBinding_IProductoService">
      <soap:address location="http://localhost:3316/ProductoService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>