CarritoCompras.EntityService/Service References/MCS/MacroConsultaService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3327/MacroConsultaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CarritoCompras.Entidad" />
  <xs:element name="ObtenerCategorias">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCategoriasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CarritoCompras.Entidad" minOccurs="0" name="ObtenerCategoriasResult" nillable="true" type="q1:ArrayOfCategoriaEntidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMediosPago">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMediosPagoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CarritoCompras.Entidad" minOccurs="0" name="ObtenerMediosPagoResult" nillable="true" type="q2:ArrayOfMedioPagoEntidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerProductos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CarritoCompras.Entidad" minOccurs="0" name="entidad" nillable="true" type="q3:ProductoEntidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerProductosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CarritoCompras.Entidad" minOccurs="0" name="ObtenerProductosResult" nillable="true" type="q4:ArrayOfProductoEntidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CarritoCompras.Entidad" minOccurs="0" name="entidad" nillable="true" type="q5:ClienteEntidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CarritoCompras.Entidad" minOccurs="0" name="ObtenerClienteResult" nillable="true" type="q6:ClienteEntidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CarritoCompras.Entidad" minOccurs="0" name="entidad" nillable="true" type="q7:PedidoEntidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CarritoCompras.Entidad" minOccurs="0" name="ObtenerPedidoResult" nillable="true" type="q8:ArrayOfPedidoEntidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDetallePedido">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDetallePedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CarritoCompras.Entidad" minOccurs="0" name="ObtenerDetallePedidoResult" nillable="true" type="q9:ArrayOfDetallePedidoEntidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>